*{
    margin:0;
    padding:0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
.main{
    display: flex;
    width: 100%;
    height: 100%;
 
}
#left{
    position: relative;
    height: 100%;
    width:40%;
    background-color:snow;
}
#right{
    height: 100%;
    width:60%;
    /* background-color: yellow; */
}
#rtop{
    display: flex;
    width: 100%;
    height: 50%;
    background-color: blueviolet;
}
#rdown{
    width: 100%;
    height: 50%;
    background-color: yellow;
    background-image: url(https://images.unsplash.com/photo-1543489822-c49534f3271f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1932&q=80);
    background-position: center;
    background-size: cover;
}
#rtleft{
    height: 100%;
    width:55%;
    background-color:rgb(244, 34, 230) ;
    background-image: url(https://images.unsplash.com/photo-1459314079206-9970f36c7784?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTh8fHN1bW1lciUyMHZpYmVzJTIwd2l0aCUyMG1hbmdvfGVufDB8fDB8fHww&auto=format&fit=crop&w=600&q=60);
    background-position: center;
    background-size: cover;
   
}
#rtright{
    height: 100%;
    width:45%;
    background-color:teal ;
    background-image: url(https://images.unsplash.com/photo-1582655299221-2b6bff351df0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8bWFuZ298ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=1000&q=60);
    background-position: center;
    background-size: cover;
}
#leftnav{
    display: flex;
    width: 100%;
    padding:20px 30px;
    justify-content: space-between;
}
#leftnavright{
    display: flex;
    align-items: center;
}
#leftnavright a{
    margin-right:30px;
    text-decoration: none;
    color:black;
    font-size: 14px;

}
#leftnavright i{
 color: royalblue;
}
#textcenter{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    
}
#textcenter h1{
    font-size: 81px;
    font-weight: 900;
}
#textcenter p{
   opacity: 0.65;
   line-height: 15px;
   margin-top: 20px;
   margin-bottom: 20px;
}
#textcenter a{
  text-decoration: none;
  color:black ;
  border-bottom: 1px solid #000;
  padding-bottom: 5px;
  font-size: 13px;
  font-weight:600;
  opacity: .7;
 }

 @media(max-width:500px){
    .main{
        flex-direction: column;
    }
    #left{
        width: 100%;
    }
    #right{
        width: 100%;
    }
    #textcenter{
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
        
    }
    #textcenter h1{
        font-size: 60px;
        font-weight: 900;
    }
    #textcenter p{
       opacity: 0.65;
       line-height: 15px;
       font-size: 15px;
       margin-top: 10px;
       margin-bottom: 10px;
    }
    #textcenter a{
      text-decoration: none;
      color:black ;
      border-bottom: 1px solid #000;
      padding-bottom: 5px;
      font-size: 15px;
      font-weight:600;
      opacity: .7;
     }
    
 }
